@(title: String)(implicit m: Messages, session: Session)

@main(title) {
    <script defer="defer" type="text/javascript" src='@routes.Assets.versioned("javascripts/home.js")'></script>

    <div ng-controller="HomeCtrl">
        @* PANEL WITH NEWS *@
        @elements.panels.panelAccueil(Messages("page.Home.panelNews"),"primary","col-sm-12 col-md-12 col-xs-12","panelNews") {
            <div class="row-fluid">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    @*<div class="page-header">*@
                    @*<h3>Bootstrap</h3>*@
                    @*<p>Responsive Moving Box Carousel Demo</p>*@
                    @*</div>*@

                    <img ng-show="!resultsSlideshow[0].length" class="img-responsive center-block" ng-src="@routes.Assets.versioned("images/loading.gif")" alt="Image Chargement"/>

                    <div class="carousel slide" ng-show="resultsSlideshow[0].length" id="myCarousel">
                        <div class="carousel-inner">
                            <!-- InfoQ -->
                            <div class="item active">
                                <div class="thumbnails">
                                    <div  ng-repeat="res in resultsSlideshow[0]">
                                        <div class="col-sm-3 col-md-3 col-xs-12">
                                            <div class="thumbnail thumbnailAccueil">
                                                <img ng-hide="res.urlImage == ''" class="img-responsive" ng-src="{{res.urlImage}}" alt="Image Resultat"/>
                                                <img ng-show="res.urlImage == ''" class="img-responsive" src="@routes.Assets.versioned("images/logos/infoq.jpeg")"   alt="Image Resultat"/>

                                                <div class="caption">
                                                    <h4>{{res.title}}</h4>
                                                    <p><a target="_blank" href="{{res.link}}" class="btn btn-primary" role="button">&raquo; En savoir plus</a>
                                                        @if(session.get("user")!=None){
                                                            <button ng-if="isIn=(favorisArticlesLink.indexOf(res.link) > -1)" my-article="" title="{{res.title}}" description="{{res.description}}" link="{{res.link}}" date="{{res.date}}" urlImage="{{res.urlImage}}" categories="{{res.categories}}" class="btn btn-default" role="button">Supprimer favoris</button>
                                                            <button ng-if="!isIn" my-article="" title="{{res.title}}" description="{{res.description}}" link="{{res.link}}" date="{{res.date}}" urlImage="{{res.urlImage}}" categories="{{res.categories}}" class="btn btn-default" role="button">Ajouter favoris</button>
                                                        }
                                                    </p>
                                                    <p>{{res.description}}</p>
                                                    <p>Date : {{res.date}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- DvptCom -->
                            <div class="item">
                                <div class="thumbnails">
                                    <div  ng-repeat="res in resultsSlideshow[1]">
                                        <div class="col-sm-3 col-md-3 col-xs-12">
                                            <div class="thumbnail thumbnailAccueil">
                                                <img ng-hide="res.urlImage == ''" class="img-responsive" ng-src="{{res.urlImage}}" alt="Image Resultat"/>
                                                <img ng-show="res.urlImage == ''" class="img-responsive" src="@routes.Assets.versioned("images/logos/developpezcom.jpeg")"   alt="Image Resultat"/>

                                                <div class="caption">
                                                    <h4>{{res.title}}</h4>
                                                    <p><a target="_blank" href="{{res.link}}" class="btn btn-primary" role="button">&raquo; En savoir plus</a>
                                                        @if(session.get("user")!=None){
                                                            <button ng-if="isIn=(favorisArticlesLink.indexOf(res.link) > -1)" my-article="" title="{{res.title}}" description="{{res.description}}" link="{{res.link}}" date="{{res.date}}" urlImage="{{res.urlImage}}" categories="{{res.categories}}" class="btn btn-default" role="button">Supprimer favoris</button>
                                                            <button ng-if="!isIn" my-article="" title="{{res.title}}" description="{{res.description}}" link="{{res.link}}" date="{{res.date}}" urlImage="{{res.urlImage}}" categories="{{res.categories}}" class="btn btn-default" role="button">Ajouter favoris</button>
                                                        }
                                                    </p>
                                                    <p>{{res.description}}</p>
                                                    <p>Date : {{res.date}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- WikiCFP -->
                            <div class="item">
                                <div class="thumbnails">
                                    <div  ng-repeat="res in resultsSlideshow[2]">
                                        <div class="col-sm-3 col-md-3 col-xs-12">
                                            <div class="thumbnail thumbnailAccueil">
                                                <img ng-hide="res.urlImage == ''" class="img-responsive" ng-src="{{res.urlImage}}" alt="Image Resultat"/>
                                                <img ng-show="res.urlImage == ''" class="img-responsive" src="@routes.Assets.versioned("images/logos/wikicfp.png")"   alt="Image Resultat"/>

                                                <div class="caption">
                                                    <h4>{{res.title}}</h4>
                                                    <p><a target="_blank" href="{{res.link}}" class="btn btn-primary" role="button">&raquo; En savoir plus</a>
                                                        @if(session.get("user")!=None){
                                                            <button ng-if="isIn=(favorisArticlesLink.indexOf(res.link) > -1)" my-article="" title="{{res.title}}" description="{{res.description}}" link="{{res.link}}" date="{{res.date}}" urlImage="{{res.urlImage}}" categories="{{res.categories}}" class="btn btn-default" role="button">Supprimer favoris</button>
                                                            <button ng-if="!isIn" my-article="" title="{{res.title}}" description="{{res.description}}" link="{{res.link}}" date="{{res.date}}" urlImage="{{res.urlImage}}" categories="{{res.categories}}" class="btn btn-default" role="button">Ajouter favoris</button>
                                                        }
                                                    </p>
                                                    <p>{{res.description}}</p>
                                                    <p>Date : {{res.date}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-box">
                            <a data-slide="prev" href="#myCarousel" class="slideshowA carousel-control left carousel-control-color">‹Précédent</a>
                            <a data-slide="next" href="#myCarousel" class="slideshowA carousel-control right carousel-control-color">Suivant›</a>
                        </div>
                            <!-- /.control-box -->
                    </div> <!-- /#myCarousel -->
                </div> <!-- /.span12 -->
            </div> <!-- /.row -->
        } @* Panel Accueil news *@

        @* PANEL KEYWORDS *@
        @* @elements.panels.panelAccueil(Messages("page.home.panelKeywords"),"primary","col-sm-6 col-md-6 col-xs-6","panelKeywords") {*@

            <div class="row-fluid">
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div id="keywordsJqCloud"> <!-- Fetches keywords on page load -->
                        @*<jqcloud words="words" height="500" steps="10"></jqcloud>*@
                    </div>
                </div>
            </div>
        @*}*@

        @elements.panels.panelAccueil(Messages("page.home.panelKeywords"),"primary","col-sm-6 col-md-6 col-xs-6","panelKeywords") {
            <div id="notifKeywordSearched">

            </div>

            <div id="loadingKeywordsSearch" style="display:none">
                <img class="img-responsive center-block" ng-src="@routes.Assets.versioned("images/loading.gif")" alt="Image Chargement"/>
            </div>

            <p ng-show="!resultsArticlesKeyword.length">Aucun résultat trouvé !</p>
            <div class="row-fluid">
                <div  dir-paginate="res in resultsArticlesKeyword | itemsPerPage: 2" pagination-id="resultArticle">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <div class="thumbnail thumbnailHauteurArticleKeyword" id="{{res.link}}">
                            <img ng-hide="res.urlImage == ''" class="img-responsive" ng-src="{{res.urlImage}}" alt="Image Resultat"/>

                            <img ng-show="res.urlImage == ''" height="150" width="200" src="@routes.Assets.versioned("images/logos/aperture.png")"   alt="Image Resultat"/>
                            <div class="caption">
                                <h3>{{res.title}}</h3>
                                <p><a target="_blank" href="{{res.link}}" class="btn btn-primary" role="button">Lien</a>
                                    @if(session.get("user")!=None){
                                        <button ng-if="isIn=(favorisArticlesLink.indexOf(res.link) > -1)" my-article="" title="{{res.title}}" description="{{res.description}}" link="{{res.link}}" date="{{res.date}}" urlImage="{{res.urlImage}}" categories="{{res.categories}}" class="btn btn-default" role="button">Supprimer favoris</button>
                                        <button ng-if="!isIn" my-article="" title="{{res.title}}" description="{{res.description}}" link="{{res.link}}" date="{{res.date}}" urlImage="{{res.urlImage}}" categories="{{res.categories}}" class="btn btn-default" role="button">Ajouter favoris</button>
                                    }
                                </p>
                                <p>{{res.description}}</p>
                                <p>Date : {{res.date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <dir-pagination-controls template-url="@routes.Assets.versioned("javascripts/dirPagination.tpl.html")" pagination-id="resultArticle"></dir-pagination-controls>
            </div>
        }
    </div>

    @elements.panels.panelAccueil(Messages("source.panel.title"),"success","col-sm-12 col-md-12 col-xs-12","panelSources") {

        @elements.thumbnails.thumbnailAccueil("Logo infoQ", Messages("source.infoq.label"),Messages("source.infoq.description"),"http://www.infoq.com/",Messages("thumbnail.link.accessSite")){@routes.Assets.versioned("images/logos/infoq.jpeg")}

        @elements.thumbnails.thumbnailAccueil("Logo Youtube", Messages("source.youtube.label"),Messages("source.youtube.description"),"https://www.youtube.com",Messages("thumbnail.link.accessSite")){@routes.Assets.versioned("images/logos/youtube.png")}

        @elements.thumbnails.thumbnailAccueil("Logo IEEE", Messages("source.ieee.label"),Messages("source.ieee.description"),"https://www.ieee.org/index.html",Messages("thumbnail.link.accessSite")){@routes.Assets.versioned("images/logos/iee.png")}

        @elements.thumbnails.thumbnailAccueil("Logo Developpez.com", Messages("source.dvptcom.label"),Messages("source.dvptcom.description"),"http://www.developpez.com/",Messages("thumbnail.link.accessSite")){@routes.Assets.versioned("images/logos/developpezcom.jpeg")}

        @elements.thumbnails.thumbnailAccueil("Logo WikiCfp", Messages("source.wikicfp.label"),Messages("source.wikicfp.description"),"http://www.wikicfp.com/cfp/",Messages("thumbnail.link.accessSite")){@routes.Assets.versioned("images/logos/wikicfp.png")}
    } @* Fin HTML Panel Sources *@
}
@* Fin HTML Main *@
